<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <% if current_user %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= fa(:'sign-out') %>
            Sair
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <%= fa(:'sign-in') %>
            Login
          <% end %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
